@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto+Mono:wght@400;500&display=swap");

// Extended font

@font-face {
  font-family: ABCFavoritExtended;
  font-display: auto;
  font-weight: 500; // Medium
  src:
    url("~@/assets/fonts/ABCFavoritExtended-Medium.woff") format("woff"), /* Modern Browsers */
    url("~@/assets/fonts/ABCFavoritExtendedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

// Expanded font

@font-face {
  font-family: ABCFavoritExpanded;
  font-display: auto;
  font-weight: 500;
  src:
    url("~@/assets/fonts/ABCFavoritExpanded-Medium.woff") format("woff"), /* Modern Browsers */
    url("~@/assets/fonts/ABCFavoritExpandedVariable.ttf")  format("truetype"); /* Safari, Android, iOS */
}

// Primary
$frequency: #ADFF2C;
$echo: #14130D;
$moss: #1e1c13;
$pitch: #060508;

// Secondary
$spoonbill: #FFAFAF;
$flamingo: #FF6868;
$ibis: #A31A33;
$palm: #00543B;
$chirp: #D2FF8A;

// Neutrals
$insight: #FFFEFC;
$cloud: #F9F6F2;
$fog: #E9E6E1;
$util-gray-01: #D3D2CF;
$util-gray-02: #A1A19E;
$util-gray-03: #4B4B4B;
$util-gray-04: #242424;

$brand-primary: $frequency;
$brand-primary-dark: #8acc23;
$title-text-color: #fff;
$body-text-color: #fff;
$white-color: #FFFEFC;
$secondary-text-color: $util-gray-01;
$error-text-color: $flamingo;
$warning-text-color: #FFCD00;
$backgroud-color: $pitch;
$backgroud-color-dark: $pitch;
$box-color: $util-gray-04;
$button-background-color: $pitch;
$input-placeholder: $util-gray-02;
$danger-color: $flamingo;
$edit-icon-color: $util-gray-03;
$divider-color: $util-gray-02;
$side-menu-background: $echo;
$dropdown-background: $moss;
$title-font-weight: 700;
$navbar-height: 0rem;
$default-padding-margin: 0.75em;
$default-padding: 16px;
$default-font-size: 14px;
$default-subtitle-font-size: 12px;
$sidebar-width: 200px;
$global-progress-height: 84px;
$full-height: 100%;
$full-width: 100%;

// Update Bulma's global variables
$primary: $brand-primary;
$danger: $error-text-color;
$warning: $warning-text-color;
$dark: $util-gray-04;
$family-sans-serif: 'Poppins', sans-serif;
$link: $brand-primary;

// -- Tab
$tabs-border-bottom-color: $util-gray-03;
$tabs-link-color: #ffffff;
$tabs-link-hover-color: $brand-primary;
$tabs-border-bottom-width: 2px;
$tabs-toggle-link-border-color: $box-color;
$tabs-toggle-link-hover-background-color: $backgroud-color;
$tabs-toggle-link-hover-border-color: $box-color;

// -- Table
$table-color: $body-text-color;
$table-head-cell-color: $body-text-color;
$table-foot-cell-color: $body-text-color;
$table-background-color: $backgroud-color;
$table-row-hover-background-color: $moss;
$table-cell-border: 1px solid;
$border: $util-gray-03;
$table-cell-border-width: 0 0 2px 0;

// -- Input
$input-background-color: $pitch;
$input-border-color: $box-color;
$input-color: $insight;
$label-color: $title-text-color;
$input-disabled-background-color: $box-color;
$input-disabled-border-color: $box-color;
$input-disabled-color: $secondary-text-color;

// -- Dropdown
$dropdown-content-background-color: $moss;
$dropdown-item-color: $body-text-color;
$dropdown-item-hover-color: $body-text-color;
$dropdown-item-hover-background-color: $util-gray-03;
$dropdown-content-shadow: 0 0.5em 1em -0.125em rgba($divider-color, 0.1), 0 0px 0 1px rgba($divider-color, 0.02);

// -- Button
$button-color: $pitch;
$button-background-color: $button-background-color;
$button-border-color: $button-background-color;
$button-disabled-background-color: $util-gray-03;
$button-hover-color: $pitch;
$button-hover-border-color: $brand-primary-dark;

// Modal
$alert-content-size: 16px;
$modal-card-head-background-color: $moss;
$modal-card-body-background-color: $moss;
$modal-card-title-color: $body-text-color;
$modal-card-head-padding: $default-padding;

// -- Wrapper
$wrapper-width: 500px;
$wrapper-margin: 32px auto;

@import "~bulma/";

// global styles

html,
body {
  background-color: $backgroud-color;
  color: $body-text-color;
  font-size: $default-font-size;
  letter-spacing: 0.2px;
}

h1 {
  font-size: 18px !important;
  font-weight: normal !important;
  margin-bottom: $default-padding-margin !important;
}

p.subtitle {
  color: $secondary-text-color;
  font-size: $default-font-size;
  margin-bottom: $default-padding-margin;
}

a.is-button {
  text-transform: uppercase;
  color: $title-text-color;
  font-weight: $title-font-weight;
}

.centered-block {
  position: absolute;
  top: 50%;
  left: 25%;
  right: 25%;
  transform: translateY(-50%);
}

.button {
  font: 'ABCFavoritExtended' !important;
}

.rounded-button {
  width: $full-width;
  padding-bottom: calc(0.175em - 1px);
  padding-top: calc(0.175em - 1px);
  background-color: $brand-primary;
  align-self: center;
  font-weight: 500;
  font: 'ABCFavoritExtended';
  font-size: $default-font-size;
  font-style: normal;
  line-height: normal;
  color: $pitch;
  border: none;
  &:hover,
  &:active,
  &:focus {
    outline: none;
    border: none;
    color: $pitch;
  }
}

.is-cancel:hover {
  border-color: $button-hover-border-color !important;
  color: #fff !important;
  background: $button-hover-border-color !important;
}

.is-cancel:disabled {
  border-color: transparent !important;
}

.button.is-loading {
  &:hover, &:focus, &:active, &:visited {
    &::after {
      border-color: transparent transparent #fff #fff !important
    }
  }
}

.button.is-primary {
  color: $pitch !important;
  font-weight: 500 !important;
}

.button.is-primary[disabled] {
  color: $pitch !important;
  font-weight: 500 !important;
}

.button.is-rounded.is-primary {
  color: $pitch !important;
  font-weight: 500 !important;
}

.button.is-rounded.is-cancel {
  color: $brand-primary !important;
  background-color: transparent !important;
  font-weight: 500 !important;
  border-color: $brand-primary !important;
}

.fixed-notice {
  position: fixed;
  top: 10px;
  left: auto;
  right: calc((100% - 200px) / 2);
  transform: translate(50%, 0%);
  z-index: 1000;
}

.help.is-warning,
.is-warning {
  color: $flamingo;
}

.is-warning.input {
  border-color: $ibis;
  color: $insight;
}

.default-notice {
  background: $moss;
  color: white;
}

.modal.is-active {
  z-index: 200;
}
.modal-background {
  z-index: 150;
}
.modal-card {
  z-index: 200;
}

.tabs .is-active {
  font-weight: 500 !important;
}

.dropdown-item.is-active {
  background-color: $util-gray-03 !important;
}
