@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$brand-primary: #2FB04A;
$title-text-color: black;
$title-font-weight: 600;
$navbar-height: 7rem;
$default-padding-margin: 0.75em;

// Update Bulma's global variables
$primary: $brand-primary;
$family-sans-serif: "Open Sans", sans-serif;
$link: $brand-primary;

@import "~bulma/";